<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>thymleaf</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
(thymleaf 的html 页面的标签必须完全闭合)
	Hello HTML5

	<p th:text="${content}">段落默认的内容</p>
	<div th:text="${name}">
		默认：张三
	</div>
	<div th:text="${username}">
		默认：张三
	</div>
	<div th:text="${password}">
		默认：张三
	</div>
	<hr/>
	
	<span th:text="${user.id}"></span>
	<span th:text="${user.username}"></span>
	<span th:text="${user.password}"></span>
	<hr/>
	
	<table border="1px">
		<tr>
			<th>Id</th>
			<th>名字</th>
			<th>帐号</th>
			<th>密码</th>
		</tr>
		<tr th:each="user:${list}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.password}"></td>
		</tr>
	</table>
	<hr/>
	
	<p th:if="${score>=60}">
			及格
	</p>
	<p th:unless="${score>=60}">
			不及格
	</p>
	<hr/>
	
	<h2>格式化日期</h2>
	直接输出日期 ${now}:
	<p th:text="${now}"></p>
	默认格式化 ${#dates.format(now)}:
	<p th:text="${#dates.format(now)}"></p>
	自定义格式化 ${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}:
	<p th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"></p>
</body>
</html>